<ion-header>
  <ion-toolbar color="translucent">
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <div class="center">
      <img
    src ="./../../assets/logo/logo.png">
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>
  <br><h2 style="text-align: center;">¿Quiénes somos?</h2>
  <h5 style="text-align: justify; margin-left: 5%; margin-right: 5%;">OnHealth es una aplicación movil exclusivamente para el hospital "Grey-Sloan Memorial", buscamos brindar un servicio de reservaciones
    para consultas médicas con nuestros mejores especialistas del hospital
    y evitar demoras al ser atendido o no poder ser atendido.</h5><br><br>

    <img src="./../../assets/hospital.jpg">

</ion-content>
