
<div class="center">
  <img
src ="./../../assets/logo/logo.png">
</div>
<ion-content>

<form [formGroup]="login" style="text-align: center;">
  <ion-item style="margin: 5%;">
    <ion-label position="stacked" style="text-align: center; font-size: medium;">Correo Electrónico</ion-label>
  <ion-input style="text-align: center;"
    type="email"
    class="form-control"
    formControlName="correo"
    required
    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
    </ion-input>
  </ion-item>

  <ion-item style="margin: 5%;">
    <ion-label position="stacked" style="text-align: center; font-size: medium;">Contraseña</ion-label>
  <ion-input style="text-align: center;"
    type="password"
    class="form-control"
    formControlName="contra"
    required>
    </ion-input>
  </ion-item>

  <ion-button color="primary" expand="full" type="submit" [disabled]="login.invalid" (click)="navegarInicio()">ENTRAR</ion-button><br>
</form>

  <ion-label>¿No tienes cuenta de OnHealth?
    <ion-button color="primary" (click)="navegarRegistro()" >Regístrate
    </ion-button>
  </ion-label>
</ion-content>