.img-wrapper {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    img {
      border-radius: 10px;
      width: 90px;
      height: 90px;
    }
  }

  .center {
    margin-left: 100px;
    margin-right: auto;
    display: block;
    width: 90px;
    height: 90px;
    top: -80px;
}
