<ion-header>
  <ion-toolbar color="translucent">
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <div class="center">
      <img
    src ="./../../assets/logo/logo.png">
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>

  <h1 style="text-align: center;">Registro</h1>
  <form [formGroup]="usuario" style="text-align: center;">

      <ion-item style="margin-right: 5%;">
        <ion-label position="stacked" style="text-align: center; font-size: medium;">Nombre(s)</ion-label>
        <ion-input style="text-align: center;"
        type="text"
        class="form-control"
        formControlName="nombre"
        clearInput="true"
        required>
      </ion-input>
      </ion-item>

      <ion-item style="margin-right: 5%;">
        <ion-label position="stacked" style="text-align: center; font-size: medium;">Apellidos</ion-label>
        <ion-input style="text-align: center;"
        type="text"
        class="form-control"
        formControlName="apellidos"
        clearInput="true"
        required>
      </ion-input>
      </ion-item>

      <ion-item style="margin-right: 5%;">
        <ion-label position="stacked" style="text-align: center; font-size: medium;">Correo electrónico</ion-label>
        <ion-input style="text-align: center;"
        type="email"
        class="form-control"
        formControlName="correo"
        clearInput="true"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        required>
      </ion-input>
      </ion-item>

      <ion-item style="margin-right: 5%;">
        <ion-label position="stacked" style="text-align: center; font-size: medium;">Contraseña</ion-label>
        <ion-input style="text-align: center;"
        type="password"
        class="form-control"
        formControlName="contra"
        clearInput="true"
        required>
      </ion-input>
      </ion-item>

      <ion-item style="margin-right: 5%;">
        <ion-label position="stacked" style="text-align: center; font-size: medium;">Confirmar contraseña</ion-label>
        <ion-input style="text-align: center;"
        type="password"
        class="form-control"
        formControlName="confContra"
        clearInput="true"
        required>
      </ion-input>
      </ion-item>

      <br><br>

    <ion-button expand="full" type="submit" [disabled]="usuario.invalid" (click)="onSubmitTemplate()">Regístrate</ion-button>

  </form>

</ion-content>
