<ion-app>
  <ion-menu side="start" type="reveal" contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/inicio']" >Pantalla principal</ion-item>
        <ion-item [routerLink]="['/sobre-nosotros']" >Acerca de</ion-item>
        <ion-item [routerLink]="['/login']">Cerrar sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
