<ion-header>
  <ion-toolbar>
    <ion-title>Agendar cita</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-label></ion-label>
<ion-content>

  <h2 style="text-align: center;"> Datos del paciente</h2>
  <form [formGroup]="paciente" style="text-align: center;">
    <ion-list>
      <ion-item style="margin-right: 5%;">
        <ion-label position="stacked" style="text-align: center; font-size: medium;">Nombre(s)</ion-label>
        <ion-input style="text-align: center;"
        type="text"
        class="form-control"
        formControlName="nombre"
        clearInput="true"
        required>
      </ion-input>
      </ion-item>

      <ion-item style="margin-right: 5%;">
        <ion-label position="stacked" style="text-align: center; font-size: medium;">Apellidos</ion-label>
        <ion-input style="text-align: center;"
        type="text"
        class="form-control"
        formControlName="apellido"
        clearInput="true"
        required>
      </ion-input>
      </ion-item>

      <ion-item style="margin-right: 5%;">
        <ion-label position="stacked" style="text-align: center; font-size: medium;">Edad</ion-label>
        <ion-input style="text-align: center;"
        type="number"
        class="form-control"
        formControlName="edad"
        clearInput="true"
        required>
      </ion-input>
      </ion-item>

      <ion-item style="margin-right: 5%;">
        <ion-label position="stacked" style="text-align: center; font-size: medium;">Teléfono</ion-label>
        <ion-input style="text-align: center;"
        type="tel"
        class="form-control"
        formControlName="telefono"
        clearInput="true"
        required>
      </ion-input>
      </ion-item><br><br>
      <ion-button expand="full" type="submit" [disabled]="paciente.invalid" (click)="onSubmitTemplate()">Confirmar cita</ion-button>

    </ion-list>
  </form>



</ion-content>
