<ion-header>
  <ion-toolbar color="translucent">

    <ion-buttons>
      <ion-back-button defaultHref="/inicio"></ion-back-button>
   </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <h4 style="text-align: justify; margin: 5%;">Dr(a) seleccionado: </h4>
  <ion-card >
    <ion-item lines="none">
      <img src={{doctores.photo}}><br><br><br>
    </ion-item>
    <h2 style="text-align: center;">{{doctores.nombre}}</h2>
      <h4 style="text-align: center;">{{doctores.especialidad}}</h4><br>
      <h5 style="text-align: center;">Horario: {{doctores.horarios}}</h5>

  </ion-card>

  <br><br><br>

  <ion-button expand="full" style="margin: 5%;" *ngIf="doctores.estado === 'Disponible'" [routerLink]="['/reservacion']">Reservar una cita</ion-button>
  <ion-item *ngIf="doctores.estado != 'Disponible'" >
    <h2 style="text-align: center; margin: 5%;">No hay citas disponibles</h2>
  </ion-item>

</ion-content>
