ion-item {
    margin: 16px 20px 24px;
    position: relative;
    padding-top: -10px;

    .img-wrapper {
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
      img {
        border-radius: 10px;
        width: 80px;
        height: 80px;
      }
    }
  }

  .center {
    margin-left: 100px;
    margin-right: auto;
    display: block;
    width: 90px;
    height: 90px;
    top: -80px;
  }
