
<ion-content class="background">
<ion-header>
    <ion-toolbar>
        <ion-title>Mis citas</ion-title>

        <ion-buttons>
        <ion-back-button defaultHref="/inicio"></ion-back-button>
     </ion-buttons>
    </ion-toolbar>
    <ion-card>
        <ion-card-content>
            <ion-label>Cita:</ion-label><br>
            <ion-label>Num de folio: {{zufall}}</ion-label>
        </ion-card-content>
    </ion-card>
</ion-header>

</ion-content>
