
<ion-header>
  <ion-toolbar color="translucent">
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <div class="center">
      <img
    src ="./../../assets/logo/logo.png">
    </div>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-item>
   <br> <h5 style="text-align: justify; margin: 5%;">Reserva una cita con uno de nuestros especialistas: </h5><br>

  </ion-item>


  <ion-card  *ngFor="let doc of doctores" [routerLink]="['/informacion', doc.id]"><br><br>
      <ion-card-content class="ion-text-center">
        <div class="img-wrapper">
          <img src="{{doc.photo}}">
        </div>

        <br><br><h1>{{doc.nombre}}</h1>

          <ion-label style="text-align: center;">{{doc.estado}}</ion-label>
          <img style="width: 20px; height: 20px;" src="{{doc.punto}}"><br>
          <ion-label>{{doc.especialidad}}</ion-label><br>
          <ion-label>Horario: {{doc.horarios}}</ion-label><br>
          <ion-label>{{doc.direccion}}</ion-label><br>
              </ion-card-content>
    </ion-card>

</ion-content>
