ion-card {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: visible;
  margin: 16px 20px 24px;
  position: relative;
  padding-top: -10px;

  .img-wrapper {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    img {
      border-radius: 10px;
      width: 90px;
      height: 90px;
    }
  }
}

.center {
  margin-left: 100px;
  margin-right: auto;
  display: block;
  width: 90px;
  height: 90px;
  top: -80px;
}

.header {
  position: fixed;
  width: 100%;
  height: 15%;
  background-color: white !important;
  border-bottom: rgba(192, 32, 23, 1) solid 2px;
  display: table;
}

.header_logo {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: red solid 1px;
  margin: 0 0 0 2px;
}

.header img {
  max-height: 100%;
  min-height: 100%;
  margin: 0 5px 0 2px;
}